/* GENERAL */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;

/* VARIABLES */
    --bleu1: #00a8ff;
    --bleu2: #0097e6;
    --bleu3: #273c75;
    --bleu4: #192a56;
    --bleu5: #487eb0;
    --bleu6: #40739e;
    --jaune1: #fbc531;
    --jaune2: #e1b12c;
    --violet1: #9c88ff;
    --violet2: #8c7ae6;
    --vert1: #4cd137;
    --vert2: #44bd32;
    --rouge1: #e84118;
    --rouge2: #c23616;
    --blanc: #f5f6fa;
    --gris1: #dcdde1;
    --gris2: #7f8fa6;
    --gris3: #718093;
    --noir1: #353b48;
    --noir2: #2f3640;
    --bleu-nuit1: #333845;
    --bleu-nuit2: #2a3357;
}

/* MENU */

    /* BOUTON */

    .bouton {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 10px;
        left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* border: 1px solid #fff; */
        cursor: pointer;
        z-index: 3;
    }
    
    .modifFlex {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 20px;
        left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #fff; */
        cursor: pointer;
        z-index: 5;
    }
    
    .span1 {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--blanc);
        margin-top: -10px;
        transition-duration: 0.3s;
    }
    
    .span2 {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--blanc);
        transition-duration: 0.3s;
    }
    
    .span3 {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--blanc);
        margin-top: 10px;
        transition-duration: 0.3s;
    }
    
    .suppr {
        display: none;
    }
    
    .turn1 {
        transform: rotate(45deg);
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--blanc);
        margin-top: 0;
        transition-duration: 0.3s;
    }
    
    .turn2 {
        transform: rotate(-45deg);
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--blanc);
        margin-top: 0;
        transition-duration: 0.3s;
    }
    
    /* NAVIGATION */
    
    nav {
        height: 50px;
        width: 98vw;
        position: fixed;
        top: 0;
        /* border: 1px solid #fff; */
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-shadow: 0 4px 4px #000;
        background: linear-gradient(-225deg, rgba(30, 39, 46, 0.8) 80%, rgba(39, 60, 117, 0.6) 80%);
        z-index: 2;
    }
    
    nav a {
        text-decoration: none;
        color: var(--blanc);
        margin-left: 10px;
        margin-right: 10px;
        text-shadow: 1px 1px 4px var(--blanc);
    }
    
    nav a:hover {
        font-weight: bold;
        text-decoration: underline;
        color: var(--jaune2);
    }
    /* MENU DE NAVIGATION */
    
    .menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 250px;
        height: 100vh;
        background: linear-gradient(-225deg, var(--bleu4) 30%, var(--bleu3) 70%);
        z-index: 3;
        box-shadow: 4px 0 4px #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition-duration: 0.3s;
    }
    
    .menu-open {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background: linear-gradient(-225deg, var(--bleu4) 30%, var(--bleu3) 70%);
        z-index: 3;
        box-shadow: 4px 0 4px var(--noir2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--blanc);
        transition-duration: 0.3s;
    }
    
    .menu1 {
        height: 33.3334%;
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    .menu1 h2 {
        color: var(--jaune2);
        font-family: 'Bangers', cursive;
        letter-spacing: 2px;
        font-size: 2em;
    }
    
    .menu2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 33.3334%;
    }
    
    .menu2 a {
        text-decoration: none;
        color: var(--blanc);
        letter-spacing: 3px;
        margin-bottom: 20px;
    }
    
    .menu2 a:hover {
        font-weight: bold;
        color: var(--jaune2);
    }
    
    .menu3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #fff; */
        width: 95%;
        height: 33.3334%;
    }

    .menu3 a {
        padding: 10px;
        text-decoration: none;
        background-color: var(--rouge2);
        color: #fff;
        border-radius: 5px;
        box-shadow: 4px 4px 4px #000;
    }

    .compteur {
        margin-top: 80px;
    }
    
    .reseaux-titre h3 {
        color: var(--jaune2);
        font-family: 'Bangers', cursive;
        letter-spacing: 2px;
        font-size: 2em;
    }
    
    .reseaux-logos img {
        width: 45px;
        margin-left: 3px;
        margin-right: 3px;
    }
    @media screen and (max-width: 1290px) {
        nav a {
            display: none;
        }
    }

/* HEADER */

header {
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/bubulles8.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 20%;
    width: 95%;
}

.header1 img {
    display: none;
}

.header2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 60%;
    width: 75%;
}

.nom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 95%;
    /* border: 1px solid #e84118; */
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    /* border: 1px solid #fbc531; */
    z-index: 0;
}

.titre h1 {
    font-family: 'Bangers', cursive;
    font-size: 5em;
    /* color: #dcdde1; */
    color: var(--jaune2);
    letter-spacing: 4px;
    text-shadow: 3px 3px 4px var(--noir2);
    margin-bottom: 0;
    transition-duration: 2s;
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid #4cd137; */
    height: 50%;
    width: 100%;
    border-radius: 10px;
    z-index: 0;
}

.texte h3 {
    color: var(--blanc);
}

.text-titre {
    transition-duration: 0.2s;
}

.liens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.liens a {
    text-decoration: none;
    color: var(--blanc);
    margin-top: 10px;
    margin-right: 20px;
    background: linear-gradient(60deg, var(--bleu4), var(--bleu3));
    padding: 10px;
    box-shadow: 4px 4px 4px var(--noir2);
    border-radius: 10px;
    width: 60px;
    text-align: center;
    font-weight: bold;
}

.png {
    width: 400px;
    height: 255px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
}

.png img {
    width: 100%;
    opacity: 1;
    transition-duration: 0.3s;
}

.header3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 20%;
    width: 95%;
}

.header3 p {
    color: #fff;
}


/* HEADER 2 */

.headerDeux {
    min-height: 100vh;
    background: linear-gradient(-225deg, var(--bleu-nuit1) 30%, var(--bleu-nuit2) 80%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carteHeader {
    /* border: 1px solid #fff; */
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.carteImage {
    height: 50%;
}

.carteImage img {
    width: 200px;
}

.carteTexte {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.carteTexte h3 {
    margin-top: 20px;
    color: var(--jaune2);
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size: 2em;
}

/* PRESENTATION */

#presentation {
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/bubulles17.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-presentation {
    width: 90%;
    height: 84%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.carte-presentation {
    width: 100%;
    height: 50%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carte-presentation2 {
    width: 100%;
    height: 50%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.presentation-titre {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    color: var(--jaune2);
    text-align: center;
    text-shadow: 4px 4px 4px #000;
}

.presentation-texte {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
}

.carte-presentation a {
    text-decoration: none;
    color: var(--jaune1);
}


/* PROJETS */

#projets {
    min-height: 100vh;
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/fond-blanc_mini.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
}

.container-projets {
    /* border: 1px solid #fff; */
    width: 95%;
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.projets-titre {
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
}

.projets-titre>h1 {
    font-family: 'Bangers', sans-serif;
    color: var(--jaune2);
    font-size: 5em;
    letter-spacing: 2px;
    text-shadow: -4px 4px 4px #000;
}

.projets {
    width: 90%;
    min-height: 80%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.carte-projet {
    width: 200px;
    height: 280px;
    background-color: var(--bleu4);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: -4px 4px 4px #000;
    position: relative;
}

.punaise {
    position: absolute;
    top: -30px;
}

.carte-image {
    height: 60%;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte-image>img {
    height: 90%;
}

.carte-titre {
    height: 40%;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carte-titre>h2 {
    color: var(--jaune2);
    font-family: 'Bangers', sans-serif;
    letter-spacing: 2px;
}

.carte-titre>a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--rouge2);
    border-radius: 10px;
    color: #fff;
    box-shadow: -4px 4px 4px #000;
    margin-bottom: 10px;
}

/* FOOTER */

footer {
    height: 50px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-225deg, rgba(30, 39, 46, 0.8) 80%, rgba(30, 39, 46, 0.8) 80%);
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fff;
    font-weight: bold;
}


/* CONTACT */

#contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/bubulles8.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.container-contact {
    height: 80%;
    width: 80%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
}

.titre-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid #fff; */
    height: 60px;
}

.titre-contact h2 {
    color: var(--jaune2);
    font-family: 'Bangers', cursive;
    font-size: 3em;
    letter-spacing: 2px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    /* border: 1px solid #fff; */
    padding: 10px;
}

.formulaire1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #000;
    outline: none;
    border: 1px solid #000;
    margin-bottom: 20px;
}

textarea {
    width: 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #000;
    outline: none;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.submit {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: var(--jaune2);
    color: #000;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #000;
    margin-bottom: 20px;
    cursor: pointer;
}

#reseaux {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-225deg, var(--bleu4) 30%, var(--bleu3) 80%);
    overflow: hidden;
}

.contact2-titre h3 {
    color: var(--jaune2);
    font-family: 'Bangers', cursive;
    font-size: 3em;
    letter-spacing: 2px;
}
.contact2-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contact2-logos img {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}



#jeux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(-225deg, var(--bleu4) 30%, var(--bleu3) 80%);
    overflow: hidden;
}

.jeux-titre>h3 {
    color: var(--jaune2);
    font-family: 'Bangers', cursive;
    font-size: 3em;
    letter-spacing: 2px;
}

.jeux-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.jeu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid #fff; */
    width: 80%;
    text-align: center;
}

.jeu>img {
    width: 50px;
    margin-right: 100px;
}

.jeu>h3 {
    color: #fff;
}



/* CIBLE */

#cible {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/bubulles8.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.container-cible {
    height: 80%;
    width: 80%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

.titre-cible {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid #fff; */
    
}

.titre-cible h2 {
    color: var(--jaune2);
    font-family: 'Bangers', cursive;
    font-size: 3em;
    letter-spacing: 2px;
}

.result-cible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* border: 1px solid #fff; */
    background-color: #fff;
    border-radius: 20px;
}

.result-cible a {
    text-align: center;
    background-color: var(--bleu4);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000;
    text-decoration: none;
}

.merci {
    color: var(--vert2);
    font-family: 'Bangers', cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
}



/* RESPONSIVE */

@media screen and (max-width: 1290px) {
    nav {
        display: none;
    }
    
    .png {
        display: none;
    }

    .header1 img {
        position: absolute;
        top: 20%;
        display: flex;
        width: 250px;
        z-index: 1;
    }

    .header2 {
        justify-content: center;
        align-items: center;
    }

    .nom {
        justify-content: center;
        align-items: center;
    }

    .titre {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .titre h1 {
        font-size: 4.5em;
        margin-bottom: 0;
        margin-top: 300px;
        z-index: 2;
    }

    .texte {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .texte h3 {
        display: none;
    }

    .liens {
        justify-content: space-around;
        align-items: center;
        margin-top: -20px;
        width: 100%;
        padding: 5px;
    }

    .liens a {
        margin-left: 20px;
        margin-right: 20px;
        display: none;
    }

    #presentation {
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: space-between;
    }

    .carte-presentation {
        flex-direction: column;
    }

    .carte-presentation2 {
        flex-direction: column;
    }

    .presentation-titre {
        font-size: 2em;
        width: 95%;
    }

    .presentation-texte {
        width: 95%;
    }

    .punaise {
        display: none;
    }

    .container-contact {
        padding: 0;
        margin-top: 0;
    }
    .formulaire {
        width: 250px;
    }
}