/* GENERAL */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;

/* VARIABLES */
    --bleu1: #00a8ff;
    --bleu2: #0097e6;
    --bleu3: #273c75;
    --bleu4: #192a56;
    --bleu5: #487eb0;
    --bleu6: #40739e;
    --jaune1: #fbc531;
    --jaune2: #e1b12c;
    --violet1: #9c88ff;
    --violet2: #8c7ae6;
    --vert1: #4cd137;
    --vert2: #44bd32;
    --rouge1: #e84118;
    --rouge2: #c23616;
    --blanc: #f5f6fa;
    --gris1: #dcdde1;
    --gris2: #7f8fa6;
    --gris3: #718093;
    --noir1: #353b48;
    --noir2: #2f3640;
    --bleu-nuit1: #333845;
    --bleu-nuit2: #2a3357;
}

/* HEADER */

header {
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/bubulles8.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}


/* HEADER */

.header1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 20%;
    width: 95%;
}

.header1 img {
    display: none;
}

.header2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 60%;
    width: 75%;
}

.nom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 95%;
    /* border: 1px solid #e84118; */
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    /* border: 1px solid #fbc531; */
    z-index: 0;
}

.titre h1 {
    font-family: 'Bangers', cursive;
    font-size: 5em;
    /* color: #dcdde1; */
    color: var(--jaune2);
    letter-spacing: 4px;
    text-shadow: 3px 3px 4px var(--noir2);
    margin-bottom: 0;
    transition-duration: 2s;
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid #4cd137; */
    height: 50%;
    width: 100%;
    border-radius: 10px;
    z-index: 0;
}

.texte h3 {
    color: var(--blanc);
}

.text-titre {
    transition-duration: 0.2s;
}

.liens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.liens a {
    text-decoration: none;
    color: var(--blanc);
    margin-top: 10px;
    margin-right: 20px;
    background: linear-gradient(60deg, var(--bleu4), var(--bleu3));
    padding: 10px;
    box-shadow: 4px 4px 4px var(--noir2);
    border-radius: 10px;
    width: 60px;
    text-align: center;
    font-weight: bold;
}

.png {
    width: 400px;
    height: 255px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
}

.png img {
    width: 100%;
    opacity: 1;
    transition-duration: 0.3s;
}

.header3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 20%;
    width: 95%;
}

.header3 p {
    color: #fff;
}


/* HEADER 2 */

.headerDeux {
    min-height: 100vh;
    background: linear-gradient(-225deg, var(--bleu-nuit1) 30%, var(--bleu-nuit2) 80%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carteHeader {
    /* border: 1px solid #fff; */
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.carteImage {
    height: 50%;
}

.carteImage img {
    width: 200px;
}

.carteTexte {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.carteTexte h3 {
    margin-top: 20px;
    color: var(--jaune2);
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size: 2em;
}

/* PRESENTATION */

#presentation {
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/mur-fougeres.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}


/* PROJETS */

#projets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/mur-blanc.jpg");
    background-size: cover;
    background-position: center;
}

.projet-titre {
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--jaune2);
    font-family: 'Bangers', cursive;
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: -2px 2px 4px #000;
    margin-top: 40px;
}

.projet-titre h2 {
    margin-top: -40px;
}

.container-projets {
    /* border: 1px solid #fff; */
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-225deg, var(--bleu4) 30%, var(--bleu3) 70%);
    width: 250px;
    height: 300px;
    padding: 10px;
    margin-top: 20px;
    border: 3px solid var(--jaune2);
    border-radius: 5px;
    box-shadow: -6px 6px 8px #000;
    color: var(--blanc);
    position: relative;
}

.punaise {
    position: absolute;
    top: -20px;
    width: 100px;
}

.projet1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    height: 75%;
}

.projet1 img {
    width: 75%;
}

.projet1 a {
    text-align: center;
}

.projet2 {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000;
    height: 15%;
    padding-bottom: 15px;
}

.projet2 a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.projet2 a:hover {
    color: var(--jaune2);
}

/* FOOTER */

footer {
    height: 50px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-225deg, rgba(30, 39, 46, 0.8) 80%, rgba(30, 39, 46, 0.8) 80%);
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fff;
    font-weight: bold;
}


/* CONTACT */





/* CIBLE */

#cible {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("../images/bubulles8.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.container-cible {
    height: 80%;
    width: 80%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

.titre-cible {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid #fff; */
    
}

.titre-cible h2 {
    color: var(--jaune2);
    font-family: 'Bangers', cursive;
    font-size: 3em;
    letter-spacing: 2px;
}

.result-cible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* border: 1px solid #fff; */
    background-color: #fff;
    border-radius: 20px;
}

.result-cible a {
    text-align: center;
    background-color: var(--bleu4);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000;
    text-decoration: none;
}

.merci {
    color: var(--vert2);
    font-family: 'Bangers', cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
}



/* RESPONSIVE */

@media screen and (max-width: 1290px) {
    nav {
        display: none;
    }
    
    .png {
        display: none;
    }

    .header1 img {
        position: absolute;
        top: 20%;
        display: flex;
        width: 250px;
        z-index: 1;
    }

    .header2 {
        justify-content: center;
        align-items: center;
    }

    .nom {
        justify-content: center;
        align-items: center;
    }

    .titre {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .titre h1 {
        font-size: 4.5em;
        margin-bottom: 0;
        margin-top: 300px;
        z-index: 2;
    }

    .texte {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .texte h3 {
        display: none;
    }

    .liens {
        justify-content: space-around;
        align-items: center;
        margin-top: -20px;
        width: 100%;
        padding: 5px;
    }

    .liens a {
        margin-left: 20px;
        margin-right: 20px;
        display: none;
    }

    #presentation {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .presentation1 {
        flex-direction: column;
    }

    .presentation-texte {
        width: 75%;
    }

    .texte-titre {
        font-size: 1em;
    }

    .projet {
        flex-direction: column;
    }

    .projet-image a {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .projet-texte h3 {
        text-align: center;
        font-size: 1.5em;
    }

    .projet-texte p {
        text-align: center;
    }

    .container-contact {
        margin-top: 10px;
    }

    .formulaire {
        width: 90%;
    }
}